@import '../../styles/variables.scss';

.image-card {
  width: $img-size;
  height: $img-size;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    box-sizing: border-box;
  }

  &:not(:last-child) {
    margin-right: 1rem;
  }

  &.active {
    img {
      border: 2px solid $color-primary;
    }
  }
}
